<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
  </head>

  <body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg">
      <a class="navbar-brand">Flack</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="" data-page="home">Home</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Channel List
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="nav-link dropdown-item" href="" data-page="create">Create a New Channel</a>
              <div id="active_channel">
                <!-- fill in active channel here, if any -->
              </div>
              <div class="dropdown-divider"></div>
              <div id="channel_list">
                {% for channel in list %}
                  <a class="nav-link dropdown-item" href="" onclick="load_channel('{{channel}}'); return false;">{{ channel }}</a>
                {% endfor %}
              </div>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="" data-page="logout">Log out</a>
          </li>
          <li class="nav-item">
            <a class ="nav-link" href="" onclick="alert('hey!'); return false;">Click me</a>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </nav>

    <div class="container" id="todo"><h1>TODO...</h1></div>

    <!-- Page body content -->
    <div class="container" id="body"></div>


    <!-- Handlebars -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.11/handlebars.min.js"></script>
    <!-- Bootstrap -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <!-- Local -->
    <script src="{{ url_for('static', filename='flack.js') }}"></script>

    <!-- Handlebars templates will be in the HTML for now -->
    <!-- display name form -->
    <script id="displayname_form" type="text/x-handlebars-template">
      <div class="container">
        <form onsubmit="store_displayname(); return false;">
          <div class="form-group">
            <label for="displayname">What should we call you?</label>
            <input type="text" class="form-control" id="displayname" aria-describedby="Display name">
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
    </script>

    <!-- Channel Creation -->
    <script id="create_channel_form" type="text/x-handlebars-template">
      <div class="container">
        <form onsubmit="create_channel(); return false;">
          <div class="form-group">
            <label for="channelname">Enter a channel name:</label>
            <input type="text" class="form-control" id="channelname" aria-describedby="Channel name">
          </div>
          <button type="submit" class="btn btn-primary">Create</button>
        </form>
      </div>
    </script>

    <!-- Display Channel -->
    <script id="display_channel" type="text/x-handlebars-template">
      {% raw -%}
      <div class="alert alert-primary">
        <p>{{content.message}}</p>
        <hr>
        <span align="right" size="small">posted by {{content.posted_by}} at {{content.timestamp}}</span>
      </div>
      {%- endraw %}
    </script>
  </body>
</html>
