{% extends "layout.html" %}

{% block title %}Welcome, world!{% endblock %}

{% block body %}
  <div class="container">
    {{ msg | safe }}
    <h1>Welcome to bookguru, {{ session.username }}!</h1>
    <h2>we are a made up website with no users and no internet access!</h2>
    <p align="right"><em>no seriously, please help us!</em></p>
    <p>anyway. please register if you are new here, and if you are already a member. Welcome back.</p>
    <p>the tagline says for <em>all</em> your needs but really you can just review books here. so.. enjoy!</p>
    <hr>

    <form action="/search" method="post">
      <div class="form-group">
        <label for="q">Search via Title, Author or ISBN.</label>
        <input type="text" class="form-control" id="q" name="q">
      </div>
      <button type="submit" class="btn btn-primary">Search</button>
    </form>

  </div>
{% endblock %}
