{% extends "layout.html" %}

{% block title %}Register{% endblock %}

{% block body %}
  <div class="container">
    Welcome to bookguru! Please register below.
    <br>
    <br>
    {{ msg | safe }}
    <form action="/register" method="post">
      <div class="form-group">
        <label for="username">Username</label>
        <input type="text" class="form-control" id="username" name="username">
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" name="password">
      </div>
      <button type="submit" class="btn btn-primary">Register!</button>
      <button type="submit" class="btn btn-secondary" formaction="/login" formmethod="get">Already a member?</button>
    </form>
  </div>
{% endblock %}
