{% extends "orders/base.html" %}
{% block body %}
  <table>
    <thead>
      <tr>
        <td>Item</td>
        <td>Price - Small</td>
        <td>Price - Lg</td>
        <td>Category</td>
        <td>Topping - optional</td>
      </tr>
    </thead>
    <tbody>
      {% for item in items %}
        <tr>
          <td>{{item.item}}</td>
          <td>{{item.priceSm}}</td>
          <td>{{item.priceLg}}</td>
          <td>{{item.category}}</td>
          {% if item.topping %}
            <td>{{item.topping}}</td>
          {% endif %}
        </tr>
      {% endfor %}
    </tbody>
  </table>
  <em>Note: if small price is $0, the item is available in just one size</em>
  <hr>
  <form action="{% url 'logout' %}">
    <button type="submit">Logout</button>
  </form>
{% endblock %}
