{% extends "orders/base.html" %}

{% block body %}
  <p>{{ message }}</p>
  <form action="{% url 'cart' %}" method="post">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Add item to cart">
  </form>

  {% if additions %}
  <hr>
    <p>Successfully added the following items to cart:</p>
    <ul>
      {% for record in additions %}
        <li>{{ record.quantity }} {{ record.size }} {{ record.item }}</li>
      {% endfor %}
    </ul>
  {% endif %}

  {% if cart %}
  <h3>Your current cart:</h3>
  <ul>
    {% for item in cart %}
      <li>{{ item }}</li>
    {% endfor %}
    <p><em>Total</em> ${{ total }}</p>
  </ul>

  <form action="{% url 'clearCart' %}">
    {% csrf_token %}
    <button type="submit">Clear contents of cart</button>
  </form>
  {% endif %}

  <hr>
  <form action="{% url 'logout' %}">
    {% csrf_token %}
    <button type="submit">Logout {{ user }}</button>
  </form>
{% endblock %}
